#main-section{
    display: grid;
    grid-template-columns: 3fr 1fr;
}
.shop-container{
    text-align: left;
    padding-left: 8%;
    border-right: 1px solid #D6E4FF;
}
.cart-container{
    margin: 0 auto;
    width: 300px;
    background-color: #D6E4FF;
    height: 290px;
    margin-top: 30px;
    border-radius: 10px;
    position: fixed;
    top: 70px;
    right: 2.5%;
}
@media (max-width: 478px){
    #main-section{
        display: flex;
        flex-direction: column-reverse;
    }
    .shop-container{
        border-right: none;
        padding-left: 0px;
        padding: 0 20px;
    }
    .cart-container{
        position: static;
    }
}